footer {
  height: 80px;
  width: 100%;
  border-top: 1px solid #e72424;
  background-color: #00080c;
  color: #ffffffb4;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  word-wrap: break-word;
}

.link-footer {
  text-align: justify;
  text-decoration: none;
  color: #ffffffb4;
  transition: 0.5s all;
}

.link-footer:hover {
  color: #fff;
}
