.project {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  border-top: 1px solid #e72424;
}

.container-project {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1300px;
}

.project-img {
  position: relative;
  width: 500px;
  height: 260px;
  object-fit: fill;
  border: 3px solid #012030;
  border-radius: 10px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 67px;
  overflow: hidden;
  transition: border 0.5s;
  transition: 0.5s all;
}


.project-img:hover {
  border: 3px solid #04364d;
}

.project-btn {
  opacity: 1;
}

.project-btns {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  color: #fff;
  background-color: #010d13f6;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.5s all;
  font-size: 16px;
}

.project-btns > button {
  border: none;
}

.project-btns:hover {
  background-color: #053b53f6;
}

.project-tittle {
  background-color: #010d13;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 25px;
  text-transform: uppercase;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.404);
}

.btn-demo {
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.btn-code {
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.btn-more {
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.show {
  display: block;
  cursor: pointer;
  animation-name: opacityTransition;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.hidden {
  animation-name: hiddenTransition;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes opacityTransition {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hiddenTransition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.details-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.377);

  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-details-btn {
  color: #e7242491;
  font-size: 30px;
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
  transition: 0.3s all;
  z-index: 1;
}

.close-details-btn:hover {
  color: #fff;
}

.details-btn:hover {
  color: #a8a8a8;
}
.details-demo-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.details-btn-demo,
.details-btn-code {
  background-color: #2a0303;
  text-decoration: none;
  border: 1px solid #5d0707;
  color: #fff;
  padding: 2px 17px;

  border-radius: 3px;
  transition: 0.5s all;
}

.details-btn-demo:hover,
.details-btn-code:hover {
  background-color: #5d0707;
}

.details {
  color: #fff;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  border-radius: 6px;
  width: 950px;
  height: 340px;
  background-color: #0f0101;
  border: 1px solid #380404;
  outline: 5px solid #0f0101;
  outline-offset: 2px;
  animation: ShowContainer 0.2s;
}

.details-title {
  font-size: 1.3rem;
}

.details-video {
  background-color: #000;
  object-fit: cover;
  border-radius: 7px;
}

.details-desc {
  font-size: 0.75rem;

  display: flex;

  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}

.details-p {
  text-align: justify;
  width: 475px;
  padding: 0 15px;
}

.details-data {
  margin-top: 15px;
  color: #ffffff;
}

.andamento {
  width: 440px;
  height: 280px;

  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.andamento-text {
  width: 1000px;
  text-align: center;

  transform: rotate(32deg);
}

@keyframes ShowContainer {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-heigth: 650px) {
  .details {
    height: 80dvh;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 980px) {
  .details {
    align-items: center;
    flex-direction: column;
    height: 100dvh;

    width: 88vw;
  }

  .project-img {
    margin: 0;
  }

  .details-desc {
    word-wrap: break-word;
    height: auto;
  }

  .details-p {
    height: auto;
    width: auto;
  }

  .details-video,
  .andamento {
    width: 85vw;
  }

  .andamento-text {
    width: 100px;
  }
}

@media only screen and (max-width: 620px) {
  .project-img {
    width: 80vw;
    height: 55vh;
  }

  .details-p {
    font-size: 0.9rem;
  }

  .project-tittle {
    font-size: 1.3em;
    text-align: center;
  }
}
