.container-sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sobre {
  padding: 150px 160px 0 160px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  flex-direction: row;
}

.sobre-text {
  text-align: justify;
  width: 620px;
  margin-right: 50px;
}

.sobre-title {
  margin-bottom: 30px;
}

.sobre-text > p {
  font-size: 1em;
}

.sobre-img > img {
  width: 500px;
  border-radius: 16px;
}

.toContact {
  margin-top: 70px;
  cursor: pointer;
  padding: 15px 35px;

  color: #fff;
  border: none;
  text-shadow: 1px 1px #790e0e;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1px #000;
  background: transparent;
  background-repeat: repeat-x;
  background-position: 0 -40%;
  transition: 0.5s all;

  background-image: url("../../images/nav-bg-fill-green.png");
}

.toContact:hover {
  background-position: 50% 40%;

  text-shadow: 1px 1px #3b3b3b;

  box-shadow: 0 0 10px #aa1a1a, 0 0 20px #aa1a1a, 0 0 60px #aa1a1a;
}

@media only screen and (max-width: 1250px) {
  .sobre {
    flex-direction: column-reverse;
  }
  .sobre-img > img {
    width: 600px;
  }

  .sobre-text {
    width: 600px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 720px) {
  .sobre-img > img {
    width: 88vw;
  }

  .sobre-text {
    width: 88vw;
  }
}

@media only screen and (max-width: 400px) {
  .sobre {
    padding: 0;
    padding-top: 150px;
  }
}
